@import "src/globals/globals.styles.scss";

.hb-category-label {
  width: auto;
  // height: 30px;
  background: rgba(225, 225, 223, 0.6);
  border-left: solid 5px $bgColorGreen;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $textColorMain;
  font-size: 10px;
  font-weight: bold;
}
