$bgColorWhite: #f3f4f7;
$bgColorGreen: #4aa113;
$bgColorGray: #b3b3b3;
$bgColorRed: #ef3b3b;
$bgColorYellow: #dde032;

$textColorMain: #255852;
$textColor01: #2b2c32;
$textColor02: #919095;
$textColor03: #625f5f;
$textColor04: #fff;
$colorMain: #255852;

$sidebarWidth: 250px;
$textColor05: rgb(228, 218, 218);

.hb-scrollbar {
}
