$bgColorWhite: #f3f4f7;
$bgColorGreen: #4aa113;
$bgColorGray: #b3b3b3;
$bgColorRed: #ef3b3b;

$textColorMain: #255852;
$textColor01: #2b2c32;
$textColor02: #919095;
$textColor03: #625f5f;
$textColor03: #fff;
