@import 'src/globals/globals.styles.scss';

.pg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-pg {
    width: 60px !important;
    height: 40px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: $bgColorWhite !important;
}

.button-pg icon {
    color: $textColor01;
}

.button-pg:hover {
    background-color: $bgColorGreen !important;
}

.button-pg:hover icon {
    color: $bgColorWhite;
}

.button-disable {
    background-color: $bgColorGray !important;
    cursor: not-allowed !important;
}

.button-disable:hover {
    background-color: $bgColorGray !important;
    cursor: not-allowed !important;
}

.page-number {
    font-size: 16px;
    font-style: italic;
    margin: 0 20px;
    color: $textColorMain;
}
