@import 'src/globals/globals.styles.scss';

.pg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-pg {
    width: 60px !important;
    height: 40px;
    border:unset;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: #255852 !important;
    &:focus{
        outline:0 !important;
        box-shadow: unset;
    }
}

.button-pg i {
    color: white;

}

.button-pg:hover {
    background-color: #307269 !important;
}

.button-pg:hover i {
    color: $bgColorWhite;
}

.button-disable {
    border: none !important;
    background-color: $textColor05 !important;
    cursor: not-allowed !important;
}

.button-disable i {
    color: rgba(255, 255, 255, 1) ;
}

.button-disable:hover {
    background-color: $textColor05 !important;
    cursor: not-allowed !important;
}

.button-pg:hover i {
    color: rgba(255, 255, 255, 1);
}

.page-number {
    font-size: 16px;
    font-style: italic;
    margin: 0 20px;
    color: $textColorMain;
}
