.table>tbody>tr>td {
    vertical-align: middle;
    font-size: 12px;
}

.table>thead>tr>th {
    vertical-align: middle;
    font-size: 13px;
}

table {
    background-color: #ffffff;
}

.center-cell {
    display: flex;
    justify-content: center;
}

.cell-hover:hover {
    cursor: pointer;
}