@import "src/globals/globals.styles.scss";

.dap {
  min-width: 1000px;
  max-width: 1000px;
}
.cb-min{
  margin-left:10px;
}
.group-item {
  font-weight: bold;
  margin-bottom:15px;
  // display: inline-flex;
  // flex-direction: column;
}
