@import "src/globals/globals.styles.scss";

.hb-main-layout {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .header {
    height: 70px;
  }

  .body {
    height: calc(100% - 70px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .contain-left-sidebar--content {
      width: calc(100% - #{$sidebarWidth});
      max-width: none;
      height: 100%;
      overflow: auto;
      margin: 0;
    }

    .notification-container {
      // width: 320px;
      height: auto;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 20px;
    }
  }
}
