@import "src/globals/globals.styles.scss";

.hb-post-list {
  width: 100%;

  .title {
    width: 100%;
    color: $textColorMain;
    font-size: 25px;
    font-size: bold;
    text-align: center;
    padding: 5px 0px;
  }

  .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.not-found {
  color: $textColor02;
}
