@import "src/globals/globals.styles.scss";

.dialog {
  width: 100%;
  height: 100%;
  // display: flex !important;
  // justify-content: center;
  // align-items: center;
  overflow: hidden !important;

  .modal-dialog {
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    max-height: 100% !important;
    background: transparent !important;
    margin: 0 !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content {
      max-height: 90%;
      max-width: 90%;
      background: #fff;

      .modal-header {
        height: 50px;
      }

      .modal-body {
        max-height: calc(100% - 50px);
        overflow-y: auto;
      }
    }
  }
}

.dialog .modal-header {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;

  .modal-title {
    color: $textColorMain;
    width: 100%;
    text-align: center;
  }
}

.dialog .modal-content {
  width: auto;
  // padding: 20px 0px;
}
