.hb-home {
  padding: 10px 20px;

  .search-box-container {
    display: flex;
    justify-content: flex-end;

    .search-box {
      width: auto;
      height: 40px;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 50px;
      border: solid 1px rgba(37, 88, 82, 0.4);

      input {
        width: 250px;
        height: auto !important;
        border: none !important;
        outline: none !important;
        transition-duration: 0.3s;
        background: transparent !important;

        &:focus {
          width: 400px;
          transition-duration: 0.3s;
          border: none !important;
          outline: none !important;
          box-shadow: none !important;
        }
      }

      .icon {
        color: rgba(37, 88, 82, 0.4);
      }
    }
  }
}
