@import "src/globals/globals.styles.scss";

.hb-author-label {
  width: auto;
  height: 30px;
  display: flex;
  align-items: center;

  .avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
  }

  span {
    color: $textColor02;
    font-size: 10px;
  }
}
