@import "src/globals/globals.styles.scss";
 .dropdown-item:active{
  background-color:unset !important;
}
.hb-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.hb-user-menu {
  .icon-down{
    margin-left:5px;
  }
  .dropdown-toggle {
    background: none !important;
    border: none !important;
    outline: none !important;
    padding: 0px;

    &:focus {
      box-shadow: none !important;
    }

    &:after {
      display: none !important;
    }
  }

  .user-menu {
    width: 350px;
    right: 20px !important;
    top: 10px !important;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.25);
    border: none !important;

    &::before {
      display: block;
      right: 40px;
      content: "";
      height: 0;
      top: -10px;
      width: 0;
      position: absolute;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
    }

    .user-info {
      width: 100%;
      padding: 0 20px;
      height: 40px;
      display: flex;
      align-items: center;
      margin: 10px 0px;
      
      .info {
        margin-left:5px;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        font-size:14px;
        color:#625f5f;
        span:first-child{
          font-weight:bold;
        }
        span:last-child {
          font-style: italic;
        }
      }
    }

    .user-menu--menu-item {
      display: flex;
      align-items: center;
      width: 100%;
      height: 40px;
      padding: 20px;
      text-decoration: none;
      color: #255852 ;
      font-size: 15px;
      font-weight: bold;

      &:hover {
        background: transparent;
        border-right:5px solid #4aa112;
      }
    }
  }
}

// .user-menu {
//   position: relative;

//   .items {
//     width: 265px;
//     background: #fff;

//     .user-info {
//       display: flex;
//       align-items: center;
//     }

//     &::before {
//       display: block;
//       right: 25px;
//       content: "";
//       height: 0;
//       top: -11px;
//       width: 0;
//       position: absolute;
//       border-left: 11px solid transparent;
//       border-right: 11px solid transparent;
//       border-bottom: 11px solid #fff;
//     }

//     .item {
//       width: 100%;
//     }
//   }
// }
