@import "src/globals/globals.styles.scss";

.cb {
  border: 1px solid black;
  border-radius: 10px;
  border-color: $textColorMain;
  // min-width: 220px;
  width: auto;
  height: 30px !important;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  
  color: $textColorMain;
  font-weight: bold;
  background-color: #ffffff;
  margin: 0px 10px;
  font-size:12px; 
  &:first-child {
    margin-left: 0;
  }
}
.label-cb {
  padding-left:10px;
}

.cb select {
  height: auto !important;
  border: none !important;
  margin-right:5px;
}

.cb select:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.cb-min {
  display: inline-flex;
  border: 1px solid black;
  border-radius: 10px;
  border-color: $textColorMain;
  width: auto;
  height: 30px !important;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: $textColorMain;
  font-weight: bold;
  background-color: #ffffff;
}

.cb-min select {
  height: auto !important;
  border: none !important;
}

.cb-min select:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.select {
  background: none;
  color: $textColorMain;
  margin-left: 5px;
}
