.hb-header {
  height: 100%;
  background: rgba(179, 179, 179, 0.2);
  padding: 0px 19px;
  position: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}
